@media(max-width: 767px) {
    
.wrapper {
    width: 320px;
}

.navigation {
    display: none;
}

header {
    width: 80%;
    padding-right: 53px;
    padding-left: 10px;
}

.title {
    width: 72.6%;
    position: relative;
}

h1::after {
    content: '';
    background: url("assets/Burger.svg");
position: absolute;
width: 30px;
height: 22px;
left: 229px;
top: 18px;
}

.content {
    width: 93.8%;
}

.motto {
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0px

}

.content img {
    width: 86.7%;
}

.motto h2 {
    width: 100%;
    font-size: 25px;
line-height: 130%;
margin-bottom: 42px;
letter-spacing: 0.06em;
}

.motto p {
    margin-bottom: 42px;
}

.motto button {
    width: 207px;
    margin-bottom: 105px;
}

.wrapper-2 {
    width: 320px;

}

.content-2 {
    width: 93.8%;
    padding-top: 42px;
    padding-bottom: 42.4px;
}

.title-2 {
    margin-bottom: 42px;
}

.title-2 h2 {
    width: 100%;
    font-size: 25px;
line-height: 130%;
text-align: center;
}

.title-2 p {
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;

}

.content-2 img {
    width: 86.7%;
}

.pet-pictures div:nth-child(2), .pet-pictures div:nth-child(3) {
    display: none;
  }


  .wrapper-3 {
      width: 320px;

  }

  .content-3 {
    width: 93.8%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .content-3 h2 {
      width: 100%;
      font-size: 25px;
      line-height: 130%;
      text-align: center;

  }

  .slider {
      flex-wrap: wrap;
      width: 90%;
margin-bottom: 42px;
  }

  .pet-pictures {
      width: 100%;
  }

  .pet-pictures div {
      order: 1;
      width: 100%;
      margin-bottom: 20px;
  }


  .arrow-left {
      order: 2;
      margin-left: 43px;
  }

  .arrow-right {
      order: 3;
      margin-right: 43px;
  }

  .help-icons {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .content-4 .help-icons div {
    font-size: 15px;
    line-height: 110%;
    width: 130px;
  }

  .help-icons div p {
      margin-top: 20px;
  }


  .wrapper-4 {
      width: 320px;
  }

  .content-4 {
      width: 90.6%;
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 42px;
      padding-bottom: 42px;
  }

  .content-4 h2 {
    width: 100%;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 42px;

}

.wrapper-5 {
    width: 320px;
}

.content-5 {
    width: 93.8%;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-right: 10px;
    padding-left: 10px;
}

.content-5-title {
    width: 100%;
    margin-bottom: 42px;
}

.content-5-title h2 {
    width: 100%;
    font-size: 25px;
line-height: 130%;
text-align: center;
}

.name-bank {
    text-align: center;
    width: 100%;
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 160%;
letter-spacing: 0.1px;
}


.card-number {
    width: 281px;
}

.card-number p {
    font-size: 15px;
line-height: 110%;
width: 220px;
}

.content-5 .don-dog {
    width: 260px;
    margin-right: 0px;
}


.content-5 .card-information {
    width: 97.3%;
    text-align: justify;
    font-size: 12px;
line-height: 18px;
margin-bottom: 0px;
}

.wrapper-6 {
    width: 320px;
}

footer {
    width: 300px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
}

.question {
    padding: 0px;
margin-left: 11px;
margin-bottom: 40px;    
}

.visit {
    padding: 0px;
    margin-bottom: 92px;
}

.visit h2 {
    margin-left: 15px;
}

.footer-puppy {
    width: 260px;
    padding-left: 20px;
}
  
}