@media(max-width: 767px) {


    .overlay {
        position: fixed;
        z-index: 5;
        transition: .6s;
    }
    .enabled {
        transition: .6s;
        background: rgba(0, 0, 0, .5);
        width: 100vw;
        height: 2000px;
    }


.popup .close-button {
    left: 93%;
    bottom: 100%;
}

.popup {
    width: 240px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.popup-container {
    width: 220px;
    margin: 0;
    padding: 10px;
}



.popup p {
    text-align: justify;
    margin-bottom: 10px;

}

.popup h3 {
    width: 100%;
    margin-bottom: 10px;

}

.popup img {
    display: none;
}

.popup ul {
    width: 100%
}

.popup li {
    font-size: 13px;
    margin-left: 10px;
    text-align: justify;
}

.popup li::before {
left: -10px;
}

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        margin: 0px;
        padding-top: 30px;

        text-align: center;
        position: fixed;
        right: 0;
        top: 0;
        transform: translate3d(100vw, 0, 0);
        transition: .6s;
        height: 100%;
        width: 320px;
        background: #292929;
        visibility: hidden;
        overflow-y: auto;
        z-index: 11;
        padding-bottom: 248px;
    }

.nav-main {
    flex-direction: column;
}

    .navigation-title {
        width: 72.6%;
        display: flex;
        flex-direction: column;
        z-index: 10;
        margin-bottom: 158px;
    }
    .navigation-title p {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #ffffff;
        margin: 0px;
    }
    .navigation a {
        font-size: 32px;
        line-height: 160%;
    }

    .active:hover::before {
        top: 40px;
    }
    
    .navigation li .about:before {
        top: 40px;
    }
    .navigation li:not(:last-child) {
        margin-bottom: 40px;
    }
    .visible {
        transform: translate3d(0vw, 0, 0);
        visibility: visible;
        display: flex;
    }



    .burger {
        display: block;
        background: none;
        outline: none;
        border: none;
        padding: 0px;
        z-index: 1000;
        transform: rotate(0deg);
        transition: transform 0.6s;
    }
    .burger-active {
        transform: rotate(90deg);
    }
    header {
        display: flex;
        flex-direction: row;
        width: 80%;
      
    }
    .title {
        width: 72.6%;
        z-index: 2000;
        opacity: 1;
        transition: .3s;
    }
    .hidden {
        opacity: 0;
        transition: .3s;
    }
    .content {
        width: 300px;
    }
    .motto {
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 0px
    }
    .content img {
        width: 86.7%;
    }
    .motto h2 {
        width: 100%;
        font-size: 25px;
        line-height: 130%;
        margin-bottom: 42px;
        letter-spacing: 0.06em;
    }
    .motto p {
        margin-bottom: 42px;
    }
    .motto button {
        width: 207px;
        margin-bottom: 105px;
    }
    .wrapper-2 {
        width: 100%;
    }
    .content-2 {
        width: 100%;
        padding-top: 42px;
        padding-bottom: 42.4px;
    }
    .title-2 {
        width: 100%;
        margin-bottom: 42px;
        align-items: center;
    }
    .title-2 h2 {
        width: 300px;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .title-2 p {
        padding-right: 15px;
        padding-left: 15px;
        text-align: justify;
    }
    .content-2 img {
        width: 260px;
    }
    .pet-pictures div:nth-child(2),
    .pet-pictures div:nth-child(3) {
        display: none;
    }
    .wrapper-3 {
        width: 100%;
    }
    .content-3 {
        width: 300px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .content-3 h2 {
        width: 100%;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .slider {
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 42px;
    }
    .pet-pictures {
        width: 100%;
    }
    .pet-pictures div {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
    }
    .arrow-left {
        order: 2;
        margin-left: 43px;
    }
    .arrow-right {
        order: 3;
        margin-right: 43px;
    }
    .help-icons {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .content-4 .help-icons div {
        font-size: 15px;
        line-height: 110%;
        width: 130px;
    }
    .help-icons div p {
        margin-top: 20px;
    }
    .wrapper-4 {
        width: 100%;
    }
    .content-4 {
        width: 300px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .content-4 h2 {
        width: 100%;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 42px;
    }
    .wrapper-5 {
        width: 100%;
    }
    .content-5 {
        width: 100%;
        padding-top: 42px;
        padding-bottom: 42px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .content-5-title {
        width: 100%;
        margin-bottom: 42px;
    align-items: center;
    }
    .content-5-title h2 {
        width: 300px;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .name-bank {
        text-align: center;
        width: 100%;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: 0.1px;
    }
    .card-number {
        width: 281px;
    }
    .card-number p {
        font-size: 15px;
        line-height: 110%;
        width: 220px;
    }
    .content-5 .don-dog {
        width: 260px;
        margin-right: 0px;
    }
    .content-5 .card-information {
        width: 97.3%;
        text-align: justify;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    .wrapper-6 {
        width: 100%;
    }
    footer {
        width: 300px;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 10px;
        padding-left: 10px;
    }
    .question {
        padding: 0px;
        margin-left: 11px;
        margin-bottom: 40px;
    }
    .visit {
        padding: 0px;
        margin-bottom: 92px;
    }
    .visit h2 {
        margin-left: 15px;
    }
    .footer-puppy {
        width: 260px;
        padding-left: 20px;
    }
    body .pet-slider {
        width: 310px;
        margin: 0 auto;
        display: flex;
        min-width: 0;
        justify-content: space-between;
        margin-bottom: 93px;
    }
}