    * {
        margin: 0;
        padding: 0;
    }

    .no-scroll {
        overflow: hidden;
    }
    
    .overlay {
        position: fixed;
        z-index: 5;
        transition: .6s;
    }
    
    .enabled {
        transition: .6s;
        background: rgba(0, 0, 0, .5);
        width: 100vw;
        height: 100vh;
    }
    
    body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .popup {
        width: 900px;
        height: 500px;
        position: fixed;
        background: #FAFAFA;
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1000;
        border-radius: 2%;
        margin: 0;
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
    }

    .popup img {
        width: 500px;
        height: 500px;
    }
    
    .popup-visible {
        display: flex;
    }
    
    .popup-container {
        padding-top: 50px;
        width: 351px;
    }
    
    .pet-popup {
        margin-right: 29px;
        border-radius: 2%;
    }
    
    .popup .close-button {
        position: absolute;
        display: flex;
        left: 99%;
        bottom: 99%;
        justify-content: center;
        align-items: center;
        height: 52px;
        width: 52px;
        border: 2px solid #f1cdb3;
        border-radius: 100px;
        outline: none;
        background: none;
        font-size: 15px;
        font-weight: 100;
    }

    
    
    .close-button:hover {
        background: #fddcc4;
    }
    
    .popup h2 {
        margin-bottom: 10px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        /* or 45px */
        letter-spacing: 0.06em;
    }
    
    .popup h3 {
        margin-bottom: 40px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        /* identical to box height, or 23px */
        letter-spacing: 0.06em;
    }
    
    .popup p {
        margin-bottom: 40px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }
    
    .popup ul {
        list-style: none;
    }
    
    .popup li {
        position: relative;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 180%;
        letter-spacing: 0.06em;
        margin-left: 17px;
    }
    
    .popup li::before {
        position: absolute;
        content: "";
        background: #F1CDB3;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        top: 40%;
        left: -17px;
    }
    
    .wrapper {
        background: url('assets/noise_transparent@2x.png') repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .burger {
        display: none;
    }
    
    .navigation-title {
        display: none;
    }
    
    header {
        max-width: 1200px;
        width: 93.75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 76px;
    }
    
    .title {
        width: 15.8%;
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .title p {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #ffffff;
        margin: 0px;
    }
    
    .navigation {
        display: flex;
        list-style: none;
        width: 37%;
        justify-content: space-between;
    }

    .nav-main {
        display: flex;
    justify-content: space-between;
    width: 100%;
    }
    
    .navigation a {
        position: relative;
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #cdcdcd;
    }
    
    .active:hover {
        color: #fafafa;
    }
.navigation .about {
    color: #fafafa;
}
    
    
    .active:hover::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 20px;
        background: #f1cdb3;
        border-radius: 1.5px;
    }
    
    .navigation li .about::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 20px;
        background: #f1cdb3;
        border-radius: 1.5px;
    }

    .disabled-a {
        cursor: default
    }
    
    .content {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    @media (max-width: 1280px) {
        .content img {
            width: 58.1%;
        }
    }
    
    .motto {
        width: 38.3%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .motto h2 {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 130%;
        color: #ffffff;
        margin: 0px;
        margin-bottom: 30px;
        width: 67.9%;
    }
    
    .motto p {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #cdcdcd;
        margin: 0px;
        margin-bottom: 40px;
    }
    
    .motto button {
        width: 200px;
        padding: 15px 0 15px 0;
        background: #f1cdb3;
        border-radius: 26px;
        border: none;
        margin: 0px;
        outline: none;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 19px;
        letter-spacing: 1px;
        color: #292929;
    }
    
    .motto button:hover {
        background: #fddcc4;
    }
    
    .motto button:active {
        opacity: 0.8;
    }
    
    .wrapper-2 {
        display: flex;
        justify-content: center;
    }
    
    .content-2 {
        padding-top: 90px;
        padding-bottom: 90px;
        width: 93.75%;
        max-width: 1200px;
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-2 img {
        margin-right: 120px;
    }
    
    .title-2 {
        width: 35.8%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .title-2 h2 {
        width: 86%;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        margin-bottom: 35px;
    }
    
    .title-2 p {
        margin: 0px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #4c4c4c;
    }
    
    .title-2 p:first-of-type {
        margin-bottom: 20px;
    }
    
    .wrapper-3 {
        background: #f6f6f6;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .content-3 {
        padding-top: 80px;
        padding-bottom: 100px;
        width: 93.75%;
        max-width: 1200px;
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content-3 h2 {
        width: 400px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        margin-bottom: 60px;
    }
    
    .slider {
        display: flex;
        min-width: 0;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px;
        margin-bottom: 60px;
    }
    
    .pet-pictures-container {
        width: 990px;
        overflow: hidden;
    }
    
    .pet-pictures {
        display: flex;
        justify-content: space-between;
        transition: 0.5s;
        min-width: 0;
    }
    
    .pet-pictures div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fafafa;
        width: 270px;
        padding-bottom: 30px;
    }
    
    .pet-item {
        margin-right: 90px;
    }
    
    .pet-pictures div img {
        margin-bottom: 30px;
    }
    
    .pet-pictures div p {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        margin-bottom: 30px;
    }
    
    .pet-pictures button {
        width: 187px;
        border: 2px solid #f1cdb3;
        border-radius: 100px;
        padding: 15px 0 15px 0;
        margin: 0px;
        outline: none;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 19px;
        letter-spacing: 1px;
        color: #292929;
        background: none;
    }
    
    .pet-pictures button:hover {
        background: #fddcc4;
    }
    
    .pet-pictures button:active {
        background: #f1cdb3;
    }
    
    .pet-pictures div:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        cursor: pointer;
    }
    
    .arrow-left,
    .arrow-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        width: 52px;
        border: 2px solid #f1cdb3;
        border-radius: 100px;
        outline: none;
        background: none;
    }
    
    .arrow-left:hover,
    .arrow-right:hover {
        background: #fddcc4;
    }
    
    .arrow-left:active,
    .arrow-right:active {
        background: #f1cdb3;
    }
    
    .rest {
        padding: 15px 0px 15px 0px;
        width: 261px;
        left: 470px;
        background: #f1cdb3;
        border-radius: 100px;
        border: none;
        outline: none;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
    }
    
    .rest:hover {
        background: #fddcc4;
    }
    
    .rest:active {
        opacity: 0.8;
    }
    
    .wrapper-4 {
        background: white;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .content-4 {
        max-width: 1200px;
        width: 93.75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 45px;
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .content-4 h2 {
        width: 310px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        margin-bottom: 60px;
    }
    
    .content-4 p {
        margin: 0px;
        margin-top: 30px;
    }
    
    .help-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        width: 1026px;
    }
    
    .help-icons div {
        padding-right: 120px;
        padding-bottom: 55px;
    }
    
    .help-icons .shampoos {
        padding-right: 0px;
    }
    
    .help-icons .sleeping-area {
        padding-right: 0px;
    }
    
    .icons-top,
    .icons-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
    }
    
    .icons-top {
        width: 1026px;
        margin-bottom: 55px;
    }
    
    .icons-bottom {
        width: 858px;
        margin: auto;
    }
    
    .wrapper-5 {
        background: #f6f6f6;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .content-5 {
        max-width: 1200px;
        width: 93.75%;
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 92px;
        padding-bottom: 111px;
    }
    
    .content-5 img {
        margin-right: 14px;
    }
    
    .content-5-title {
        width: 380px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .content-5-title h2 {
        width: 300px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        margin-bottom: 20px;
    }
    
    .name-bank {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        margin-bottom: 20px;
    }
    
    .card-number {
        width: 349px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f1cdb3;
        border-radius: 9px;
        margin: 0px;
        margin-bottom: 20px;
        padding: 10px 15px;
        text-decoration: none;
    }
    
    .card-number:hover {
        background: #fddcc4;
    }
    
    .card-number p {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
    }
    
    .card-information {
        width: 380px;
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #b2b2b2;
        margin: 0px;
    }
    
    button {
        cursor: pointer;
    }
    
    .wrapper-6 {
        background: url('assets/noise_transparent@2x.png') repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    footer {
        max-width: 1200px;
        width: 93.75%;
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    
    .question,
    .visit {
        display: flex;
        flex-direction: column;
    }
    
    .question {
        width: 279px;
    }
    
    .visit {
        width: 302px;
    }
    
    .question h2,
    .visit h2 {
        margin: 0px;
        margin-top: 0px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #ffffff;
        margin-top: 21px;
    }
    
    .question h2 {
        width: 279px;
        margin-bottom: 40px;
    }
    
    .visit h2 {
        width: 270px;
        margin-bottom: 33px;
    }
    
    .question div,
    .visit div {
        display: flex;
        align-items: center;
    }
    
    .question div:first-of-type {
        margin-bottom: 40px;
    }
    
    .visit div:first-of-type {
        margin-bottom: 33px;
    }
    
    footer a {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        margin: 0px;
    }
    
    footer img {
        margin-right: 20px;
    }
    
    footer .footer-puppy {
        margin: 0px;
    }
    
    a {
        text-decoration: none;
    }
    
    body .pet-slider {
        width: 1080px;
        margin: 0 auto;
        display: flex;
        min-width: 0;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .pet-item {
        outline: none;
    }
    
    .pet-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        width: 270px !important;
        background: #fafafa;
    }
    
    .pet-item img {
        margin-bottom: 30px;
    }
    
    .pet-item p {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0px;
        margin-bottom: 30px;
    }
    
    .pet-item button {
        width: 187px;
        border: 2px solid #f1cdb3;
        border-radius: 100px;
        padding: 15px 0 15px 0;
        margin: 0px;
        outline: none;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 19px;
        letter-spacing: 1px;
        color: #292929;
        background: none;
    }
    
    .pet-item button:hover {
        background: #fddcc4;
    }
    
    .pet-item button:active {
        background: #f1cdb3;
    }
    
    .pet-item:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        cursor: pointer;
    }