@media (max-width: 767px) {
  .overlay {
    position: fixed;
    z-index: 1500;
    transition: .6s;
}
.enabled {
    transition: .6s;
    background: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 2000px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  padding-top: 30px;

  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(100vw, 0, 0);
  transition: .6s;
  height: 100%;
  width: 320px;
  background: white;
  visibility: hidden;
  overflow-y: auto;
  z-index: 11;
  padding-bottom: 248px;
}

.nav-main {
flex-direction: column;
}

.navigation-title {
  width: 72.6%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-bottom: 158px;
  color: #545454;
}
.navigation-title p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0px;
}
.navigation a {
  font-size: 32px;
  line-height: 160%;
}
.navigation a:not(.disabled-a):hover::before {
  top: 40px;
}
.navigation li .about:before {
  top: 40px;
}
.navigation li:not(:last-child) {
  margin-bottom: 40px;
}


.navigation li .pets::before {
  
  top: 40px;
  
}

.visible {
  transform: translate3d(0vw, 0, 0);
  visibility: visible;
  display: flex;
}

.no-scroll {
overflow: hidden;
}

.burger {
  display: block;
  background: none;
  outline: none;
  border: none;
  padding: 0px;
  z-index: 1000;
  transform: rotate(0deg);
  transition: transform 0.6s;
}
.burger-active {
  transform: rotate(90deg);
}
header {
  display: flex;
  flex-direction: row;
  width: 80%;

}
.title {
  width: 72.6%;
  z-index: 2000;
  opacity: 1;
  transition: .3s;
}
.hidden {
  opacity: 0;
  transition: .3s;
}


  .popup .close-button {
    left: 93%;
    bottom: 100%;
}

.popup {
    width: 240px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  z-index: 2000;
}

.popup-container {
    width: 220px;
    margin: 0;
    padding: 10px;
}



.popup p {
    text-align: justify;
    margin-bottom: 10px;

}

.popup h3 {
    width: 100%;
    margin-bottom: 10px;

}

.popup img {
    display: none;
}

.popup ul {
    width: 100%
}

.popup li {
    font-size: 13px;
    margin-left: 10px;
    text-align: justify;
}

.popup li::before {
left: -10px;
}



  




  .content-2 {
    width: 93.8%;
    padding: 42px 10px;
  }

  .content-2 h2 {
      width: 100%;
      font-size: 25px;
      line-height: 130%;
      text-align: center;
  }

  .pet-slider-container {
    width: 270px;
    height: 1365px;
  }

  .pet-slider {
      width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 42px;
    justify-items: center;

  }


  .pet-pictures div:not(:nth-child(-n + 3)) {
    display: none;
  }

  .slider {
      width: 300px;
  }

  footer {
    width: 300px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
}

.question {
    padding: 0px;
margin-left: 11px;
margin-bottom: 40px;    
}

.visit {
    width: 100%;
    padding: 0px;
    margin-bottom: 92px;
}

.visit h2 {
    margin-left: 15px;
}

footer .footer-puppy {
    width: 260px;
    padding-left: 20px;
}
}
